/* share style section start */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    margin: 0;
    color: white;

}

p {
    color: var(--secend-color);
    font-size: 1rem;
    font-weight: 400;
}

body {
    background-color: rgba(0, 0, 0, 0.841);
    font-family: "Inter", sans-serif;
}

main {
    background-color: black;
}

:root {
    --praimary-color: #FFFFFF;
    --secend-color: #FFFFFF80;
    --btn: #E6533C;
}

.btn {
    background-color: var(--btn);
    padding: 15px 40px;
    border-radius: 40px;
    font-size: 1.1rem;
    font-weight: 600px;
    border: 1px solid #E6533C;
    cursor: pointer;
}

/* share style section end */
/* navbar section start */
.header {
    background: linear-gradient(0deg, rgb(0, 0, 0), rgba(119, 119, 119, 0) 100%);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 50px 190px 30px;

}

.navbar>h2 {
    font-size: 2.1rem;
    font-weight: 800;
}

.fa-bars {
    display: none;
}

.menu-bar {
    display: flex;
    gap: 50px;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 10px;
}

.menu-bar>li {
    list-style: none;
    text-align: center;
}

.menu-bar>li>a {
    text-decoration: none;
}

.brand-name {
    color: var(--btn);
}

.menu-home-btn {
    background-color: var(--btn);
    padding: 10px 20px;
    border-radius: 40px;
    margin-left: -10px;
}

/* navbar section end */
/* banner section start */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-contant {
    padding: 95px 0px 95px 190px;
}

.banner-contant>.btn2 {
    border: 1px solid white;
    background: transparent;
    margin-left: 10px;
}

.banner-contant>h1 {
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 30px;
}

.banner-title-span {
    font-family: "Dancing Script", cursive;
    font-size: 7rem;
    font-weight: 100;
}

.banner-contant>p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
    color: var(--secend-color);
}

.banner-image {
    display: flex;
    padding-top: 100px;
    position: relative;
    padding-right: 14rem;
    padding-left: 4rem;

}
.banner-card-1 {
    position: absolute;
    top: 75%;
    left: 1%;
    padding: 20px 25px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}

.banner-card-1>h1>i {
    color: red;
    font-size: 40px;
    margin-right: 15px;
    margin-left: 5px;
}

.banner-card-1>p {
    color: var(--secend-color);
    font-size: 1rem;
    font-weight: 400;
}

.banner-card-2>p {
    color: var(--secend-color);
    font-size: 1rem;
    font-weight: 400;
}

.banner-card-2 {
    position: absolute;
    top: 30%;
    right: 30%;
    padding: 20px 25px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
}

/* banner section end */
/* change habits section style start */
.habits {
    text-align: center;
    padding: 100px;
}

.habits>h2 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}

.habits>p {
    display: block;
    margin: 0 auto;
    max-width: 500px;
    margin-bottom: 60px;
    color: var(--secend-color);
    font-size: 1rem;
    font-weight: 400;
}

.habits-section {
    display: flex;
    justify-content: space-evenly;
}

.change-habit-style {
    width: 230px;
    margin-bottom: 20px;
}

.change-habit-style>img {
    border-radius: 50%;
    border: 1px solid white;
    margin-bottom: 25px;
}

.change-habit-style>p {
    color: var(--secend-color);
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 400;
}

/* change habits section style end */
/* unique section style start now */
.unique-part{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.unique-part>h1{
    font-size: 5rem;
    background: linear-gradient(180.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0.38));
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-clip:text;
}
.unique-part>h1>i{
    color: var(--btn);
}
.unique-img{
    margin: 0 auto;
    width: 1000px;
    height: 300px;
    background: url(../images/unique-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 500px;
    position: relative;
    z-index: 1;
}
.unique-section{
    position: relative;
    margin: 0 auto;
    margin-bottom: 300px;
}
.unique-contant{
    position: absolute;
    width: 1000px;
    min-height: 300px;
    background: #323232;
    border-radius: 500px;
    top: 50%;
}
.unique-contant>p{
    margin-top: 200px ;
    font-size: 1.5rem;
}
.unique-contant>button{
    background: none;
    border: none;
    margin-left: 70%;
}
.unique-contant>button>i{
    color: var(--btn);
    font-size: 3rem;
}
/* unique section style start start */
/* run habits section start */
.run-habits {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    background: rgb(34, 34, 34);
}

.run-habits-contant {
    padding: 40px 55px;
}

.run-habits-contant>h2 {
    font-size: 3rem;
    font-weight: 900;

}

.run-habits-contant>p {
    margin-top: 20px;
}

.run-habits-image {
    width: 50%;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: end;
}

.run-habits-image>img {
    max-width: 366px;
    height: 312px;
    border-radius: 50px;
}

.run-habits-contant>button {
    margin-top: 30px;
    padding: 15px 60px;
}

/* run habits section end */
/* training style section style start */
.training-container{
    margin: 0 auto;
    width: 80%;
}
.training-container>h1{
    font-size: 3rem;
    font-weight: 900;
    margin-top: 100px;
    margin-bottom: 15px;
}
.training-container>p{
    font-size: 1rem;
    margin-bottom: 60px;
}
.training-style-box{
    display: grid;
    grid-template-columns: 25% 50% 25%;
}
.training-style-box2{
    display: grid;
    grid-template-columns:40% 25% 35%;
}
.training-items>img{
    width: 100%;
    height:100%;
}
.training-items{
    position: relative;
}
.training-items>p{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    top: 50%;
    right: 50%;
}
.img-1{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(6, 255, 210, 0.5);
    z-index: 1;
    top: 0%;
}
.img-2{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(255, 0, 0, 0.3);
    z-index: 1;
    top: 0%;
}
.img-3{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    top: 0%;
}
.img-4{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    top: 0%;
}
.img-5{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(66, 255, 0, 0.3);
    z-index: 1;
    top: 0%;
}
.img-6{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 71, 255, 0.3);
    z-index: 1;
    top: 0%;
}
/* training style section style end */
/* bmi calculator section start */
.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator>h1 {
    margin-top: 60px;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
}

.calculator>p {
    text-align: center;
    margin: 15px 0px 90px 0px;

}

.calculator-section {
    background: rgb(34, 34, 34);
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.calculator-chart {
    margin-left: 190px;
}

.calculator-chart>h3 {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 50px 0px;
}

.calculator-chart>table {
    border-collapse: collapse;
    margin-bottom: 100px;
}

.calculator-chart td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    color: var(--secend-color);
}

.calculator-chart th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    color: rgb(216, 208, 208);
}

.calculator-bmi-contant>h3 {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 50px 0 14px 0;
}

.calculator-bmi-contant>p {
    margin-bottom: 30px;
}

.calculator-bmi>input {
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    margin: 10px 5px;
    border: none;
}

#gender {
    padding: 12px 147px 12px 20px;
    margin-left: 5px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: var(--secend-color);
}

#activity {
    padding: 12px 150px 12px 164px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 35px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: var(--secend-color);
}

.calculator-bmi>button {
    margin-left: 10px;
    padding: 13px 40px;
}

.calculator-bmi-contant {
    max-width: 550px;
}

/* bmi calculator section start */
/* our team section start */
.our-team{
    padding-bottom: 90px;
}
.our-team>h2{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 14px;

}
.our-team>p{
    text-align: center;
    margin-bottom: 60px;
}
.our-team-image-section {
    display: grid;
    gap: 50px;
    margin: 0% 10%;
    padding: 1.5% 0%;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
}

.our-team-image {
    width: 325px;
    height: 270px;
    position: relative;
}

.our-team-image>img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
.parson{
    position: absolute;
    top: 70%;
    left: 10%;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 700;
}
.tainar-name{
    position: absolute;
    top: 80%;
    left: 10%;
}
/* our team section end */
/* footer section style now */
.footer-box{
    display: flex;
    justify-content: space-evenly;
    padding: 60px 190px 30px;

}
.footer-contant>h2{
    margin-bottom: 40px;
    font-size: 1.5rem;
    font-weight: 900;
}
.footer-box p{
    margin-bottom: 20px;
}
.footer>p{
    margin: 0 auto;
    text-align: center;
    align-items: center;
    margin-bottom: 35px;
}
.footer>hr{
    margin: 40px 190px 35px;
}
.footer-contant2{
    max-width: 440px;
    height: auto;
}
.footer-contant2>p{
    margin-top: 20px;
}
/* footer section style end */
/* mobile veiw responsive section */
@media screen and (max-width:576px) {

    /* navbar section */
    .navbar>ul {
        display: none;
    }

    .navbar {
        padding: 35px 30px;
    }

    .fa-bars {
        display: block;
        font-size: 30px;
    }

    /* banner section */
    .banner {
        flex-direction: column;
    }

    .banner-contant {
        padding: 20px;
    }

    .banner-contant>h1 {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 25px;
    }

    .banner-contant>h1>span {
        font-size: 50px;
        font-weight: 100;
    }

    .btn {
        padding: 15px 20px;
    }
    .banner-image{
        padding: 0;
    }
    .banner-card-2 {
        padding: 15px;
        top: 18%;
        right: 2%;
    }

    .banner-card-1 {
        padding: 15px;
        top: 70%;
    }

    /* change habits section */
    .habits {
        padding: 100px 20px 20px 20px;
    }

    .habits-section {
        flex-direction: column;
        align-items: center;
    }

    .habits>h2 {
        font-size: 2rem;
    }
    /* unique section  */
    .unique-part{
        margin: 0 auto;
        /* width: 100%; */
    }
    .unique-section{
        margin-bottom: 200px;
    }
    .unique-part>h1{
        font-size: 2.5rem;
        margin-top: 30px;
    }
    .unique-part>h1>br{
        display: none;
    }
    .unique-img{
        max-width: 300px;
        height: 150px;
    }
    .unique-contant {
        max-width: 300px;
        min-height: 150px;
    }
    .unique-contant>p{
        font-size: 0.9rem;
        margin-top: 80px;
    }
    /* run habits section */
    .run-habits {
        flex-direction: column;
        margin: 0 auto;
    }

    .run-habits-contant {
        padding: 30px;
    }

    .run-habits-contant>h2 {
        font-size: 2rem;
        font: 300;
    }
    .run-habits-contant>p > br{
        display: none;
    }
    .run-habits-contant>button {
        margin-top: 20px;
    }

    .run-habits-image {
        width: 90%;
        margin: 0 auto;
        justify-content: center;
        border-radius: 20px;
    }

    .run-habits-image>img {
        width: 100%;
        height: 100%;
        padding: 20px;
    }
    /* training section */
    .training-container{
        width: 95%;
    }
    .training-container>h1{
        font-size: 2rem;
        margin-top: 70px;
        margin-left: 10px;

    }
    .training-container>p{
        font-size: 1rem;
        margin-left: 10px;

    }
    .training-style-box{
        grid-template-columns: 45% 55% 0%;
    }
    .training-style-box2{
        grid-template-columns: 55% 45% 0%;
    }


    /* calculator-bmi section*/
    .calculator>h1 {
        font-size: 2rem;
        font-weight: 900;
    }

    .calculator-section {
        flex-direction: column;
    }

    .calculator-chart {
        margin: 0 auto;
    }

    .calculator-chart>table {
        margin-bottom: 50px;
    }

    .calculator-bmi {
        padding: 3px;
        margin-left: 10px;
    }

    .calculator-bmi-contant {
        padding-left: 10px;
    }

    .calculator-bmi>input {
        padding: 12px 0px 12px 0px;
        width: 40%;
        text-align: center;
        margin: 2px;
    }

    #gender {
        padding: 12px 0px 12px 10px;
        width: 40%;
        text-align: center;
        margin: 2px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    #activity {
        padding: 12px 0px 12px 67px;
        width: 82%;
        margin: 2px;
        text-align: center;
        margin-top: 10px;
    }

    .calculator-bmi>button {
        padding: 10px 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .calculator-bmi-contant>h3 {
        margin-top: 10px;
    }
    /* our team section */
    .our-team-image-section{
        grid-template-columns: 1fr;
        margin: 0px 20px;
    }
    .our-team-image{
        max-width: 320px;
        padding: 20px 0px;
    }
    /* footer section start */
    .footer-box{
        flex-direction: column;
        padding: 0;
        padding-left: 30px;
        padding-top: 50px;
    }
    .footer-contant{
        align-items: center;
    }
    .footer>hr{
        margin-left: 10px;
        margin-right: 10px;
    }
    .footer-contant2{
        width:100%;
        height: auto;
    }

}

/* mobile veiw responsive section */